@model List<TicTacToe.Models.ButtonModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>TicTacToe with ASP.NET</p>
    @for(int i = 0; i < 4; i++)
    {
        if(Model[i].State == true){
        <p>TRUE</p>
    }
    else{
        <p>FALSE</p>
    }
    }
</div>
